# Core app
streamlit
python-dotenv

# LangChain core + community integrations
langchain
langchain-community
langchain-google-genai

# Vector store + embeddings
faiss-cpu
tiktoken

# Document loading + PDF parsing
pypdf #not PyPdf2 -> deprecated stopped recieiving updates after mid2023
# Validation + schema compatibility
pydantic

# Machine learning
numpy
scikit-learn

sentence-transformers 

pandas
pdfplumber